body {
  background: url(./images/background.jpg) no-repeat center center ;
  background-size: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

/* * box top */
.wrapper-card {
  margin: 50px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.2) ;
}
.card-addtask {
  padding: 30px;
}
.card-title{
    font-weight: 500;
    font-size: 17px;
    color: #686868;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.error{
  color: #ff0000;
  font-size: 14px;
  border: 1px solid #ff0000;
  padding: 2px 5px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

/* *box bottom */
.wrapper-listtaskandfilter{
    margin-top: 50px;
}
.box-filter {
  background-color: #fff;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.2) ;
}
.title-list-task {
  margin-top: 35px;
}
.collection{
    width: 100%;
    position: relative;
}
.btn-clear{
  margin-top: 20px;
} 